<div
  class="flex min-h-screen w-screen flex-col items-center justify-center gap-5"
>
  <h1 class="text-3xl font-bold">Browse</h1>
  <div class="grid w-full max-w-3xl grid-cols-1">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dicta,
      quis, iste laboriosam nam est itaque libero, error nostrum accusamus
      placeat explicabo illum consequuntur labore sit mollitia! Nihil,
      praesentium nemo.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam commodi
      dolores nihil. Eaque necessitatibus quis, laboriosam possimus rem nulla
      illum voluptate fugit debitis ipsa sit quisquam harum est quae dicta!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
      suscipit placeat inventore rem quibusdam temporibus aliquam voluptas
      fugiat incidunt fuga recusandae ab voluptates eum eveniet iste nesciunt,
      officiis reiciendis perspiciatis?
    </p>
  </div>
</div>
